@import url('https://nmscd.github.io/No-Mans-Sky-Universal-Font/assets/font/NMSGeoSans_Kerned/Web-TT/NMSGeoSans_Kerned.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm309-adj-01.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=2204002a48c0d2dc60c1a27a4cc4fd97);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

h1{
font-size: 2.3em;
line-height: 2;
}

h2{
font-size: 1.8em;
}

p{
    margin-right: 30%;
    margin-left: 30%;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
}

ul,li{
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: 'Open Sans', sans-serif;
}

figure{
    text-align: center;

}
img{
    border: 2px double;
    width: 40%;
}
  
header,footer{
    background-color: rgb(34, 34, 34);
    opacity: 0.3;
    padding: 1%;
}

td,th{
    border: 1px solid rgb(46, 46, 46);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: rgb(46, 46, 46);
    color: white;

}

a:any-link{
    color: rgb(255, 166, 0);
}

a:hover{
    color:rgb(206, 18, 18);
}

a:active{
    color:chartreuse;
}

table{
    align-self: center;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-right:auto;
    margin-left:auto;
    font-size: 1.0em;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    display:block;
}


.tabulo{
    margin-top: auto;
    margin-bottom: auto;
    display:table;
}

.falacian{
    font-size: 1.1em;
}

.container{
    width: 80%;
    margin-right:auto;
    margin-left:auto;
}

.titulos{
    font-weight: bolder;
    text-align: center;
    font-family: NMSGeoSans;
}

.tituloSupremo{
    font-weight: bolder;
    text-align: center;
    font-family: NMSGeoSans;
    color:white; 
    font-size: 1.6em; 
    text-align: left;
}

.amago{
    margin-right: 0%;
    margin-left: 0%;
    text-align: center;
}

@media (max-width: 800px) {

    p{
        margin-right: 0%;
        margin-left: 0%;
        text-align: center;
    }

    table{
        width: 100%;
    }

    h1{
        font-size: 2.1em;
        line-height: 1.3;
    }

    .tituloSupremo{
        text-align: center;
    }

    p{
        margin-top: 3%;
        margin-left: 3%;
    }

    .tabulo{
        display: block;
    }

    h2{
        font-size: 1.6em;
    }

    img{
        width: 80%;
    }
    
}


